name: Line Endings Check
on:
 pull_request:
   branches: 
    - '**/**'
jobs:
  line-endings-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Check for CRLF endings
      uses: erclu/check-crlf@v1
