name: Gated-Windows
on: 
 push:
   branches: 
    - master
    - dev
 pull_request:
   branches: 
    - master
    - dev
jobs:
  build_windows:
    runs-on: [windows-latest]
    steps:
    - uses: actions/checkout@v2
    - uses: dorny/paths-filter@v2.2.0
      id: filter
      with:
        filters: 
          src:
          - 'src/**'
          - 'test/**'
          - '*.cmd'
          - '*.ps1'
          - '*.props'
          - '*.targets'
          - '*.sh'
          - '*.sln'
    - name: Update SubModules
      run: git submodule update --init --recursive
      if: steps.filter.outputs.src == 'true'
    
    - name: Build with dotnet
      shell: powershell
      run: .\run.ps1 default-build
      if: steps.filter.outputs.src == 'true'
